aiohappyeyeballs
aiohttp
aiosignal
aistudio-sdk
annotated-doc
annotated-types
anthropic
anyio
astor
attrs
bce-python-sdk
beautifulsoup4
certifi
cffi
cfgv
chardet
charset-normalizer
click
colorama
colorlog
crc32c
cryptography
decorator
distlib
distro
einops
fastapi
filelock
filetype
frozenlist
fsspec
ftfy
future
google-auth
google-genai
h11
hf-xet
httpcore
httptools
httpx
huggingface_hub
identify
idna
imagesize
Jinja2
jiter
joblib
markdown-it-py
markdown2
markdownify
marker-pdf
MarkupSafe
mdurl
modelscope
modelscope-hub
mpmath
multidict
narwhals
networkx
nodeenv
numpy
nvidia-cublas-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nvjitlink-cu12
ollama
openai
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
packaging
paddleocr
paddlepaddle-gpu
paddlex
pandas
pdftext
pillow
platformdirs
pre_commit
prettytable
propcache
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pyclipper
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
Pygments
pypdfium2
python-bidi
python-dateutil
python-discovery
python-dotenv
python-multipart
PyYAML
RapidFuzz
regex
requests
rich
ruamel.yaml
safetensors
scikit-learn
scipy
shapely
shellingham
six
sniffio
soupsieve
starlette
surya-ocr
sympy
tenacity
threadpoolctl
tokenizers
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
ujson
urllib3
uvicorn
virtualenv
watchfiles
wcwidth
websockets
yarl